<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>上传</title>
    <script src="/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/bootstrap.min.css">
</head>
<body>
<br>
<a href="../" class="btn btn-danger">返回</a>
<br>
<br>

新建文件夹<br>

文件名 <input id="new" type="text">
<button id="sure" class="btn btn-success">确定</button>


<br>
<br>



<br>
<br>
</body>
<script>
    $("#sure").click(function () {
        if(    $("#new").val() != null||"") {
            var val = $("#new").val();
            $.get('/create',val).then(()=> {
                window.location.href="/";
            })
        }
    });

</script>
</html>